---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Tag from "../../components/Tag.astro";
import { formatPostDate } from "../../utils/date";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title}>
  <main>
    <header>
      <img />
      <p>{formatPostDate(post?.data?.pubDate).date}</p>
     
      <h1>{post?.data?.title}</h1>
      
      <div class="tags">
        <h4 class="visually-hidden">Posts tagged with:</h4>
        {
          post?.data?.tags &&
            post?.data?.tags.map((tag: string) => <Tag tag={tag} />)
        }
      </div>
    </header>

    <Content />
  </main>
</Layout>
