@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

@mixin underline-link {
text-shadow:
  0.05em 0 0 var(--bgColor),
  -0.05em 0 0 var(--bgColor),
  0 0.05em 0 var(--bgColor),
  0 -0.05em 0 var(--bgColor),
  0.1em 0 0 var(--bgColor),
  -0.1em 0 0 var(--bgColor),
  0 0.1em 0 var(--bgColor),
  0 -0.1em 0 var(--bgColor);
background-image: linear-gradient(
  to right,
  var(--color) 0%,
  var(--color) 100%
);
background-repeat: no-repeat;
background-position: 0 80%;
background-size: 0% 0.1em;
animation: none;
transform: scale(1);
}

