$breakpoints: (phone: 400px, 
               tablet: 600px, 
               desktop: 900px) !default;

@mixin reset-list {
                margin: 0;
                padding: 0;
                list-style: none;
              }

@mixin 
:root {
  --black: #000000;
  --white: #ffffff;
  --dark-grey: #191919;
  --dusty-white: #fbfaf9;
  --lilac: #7384cb;
  --light-lilac: #cdd8fd;
  --color: var(--black);
  --bgColor: var(--dusty-white);
  --bgColorBase: var(--white);
  --colorDark: var(--white);
  --bgColorDark: var(--dark-grey);
  --accColor: var(--light-lilac);
  --accColorDark: var(--lilac);
  --navFont: "Inclusive Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

html {
  color: var(--color);
  background-color: var(--bgColor);
  /* background: var(--bgColor);
  background: -webkit-linear-gradient(to bottom, var(--bgColorBase), var(--bgColor));
  background: linear-gradient(to bottom, var(--bgColorBase), var(--bgColor)); */

  .dark {
    --color: var(--colorDark);
    --bgColor: var(--bgColorDark);
    --accColor: var(--accColorDark);
    --bgColorBase: var(--black);
  }
  body {
    margin: 0 auto;
    font-family: "Inclusive Sans", sans-serif;
    padding: 0;
    line-height: 1.5;
    width: 80%;
    max-width: 1200px;

    @include media(">phone", "<tablet") {
      body {
        width: 90%;
        background-color: red;
      }
    }


    ul {
      @include reset-list;
    }
  }
}


/* 


header div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

main {
  width: 90vh;
  margin: 3em auto 0;
  font-size: 1.3em;
}





 */
