:root {
  --black: #1c1c1c;
  --white: #f8f9fb;
  --lilac: #819af5;
  --foregroundColor: var(--black);
  --backgroundColor: var(--white);
  --accentColor: (var(--lilac));
}

* {
  box-sizing: border-box;
}

html {
  color: var(--foregroundColor);
  background-color: var(--backgroundColor);
}

html.dark {
  --foregroundColor: var(--white);
  --backgroundColor: var(--black);
}

img {
  /* max-width: 100%;
  height: auto;
  margin: auto; */
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  font-family: "Work Sans Variable", sans-serif;
  padding: 1rem;
  line-height: 1.5;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
header div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

.nav-links li a {
  color: var(--foregroundColor);
}

.nav-links li.active {
  background-color: var(--foregroundColor);
}

.nav-links li.active a {
  color: var(--backgroundColor);
}

footer {
  border-top: 1px solid;
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__links a {
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--foregroundColor);
  
}

.footer__links [data-icon] {
  padding-inline-end: 0.3em; 
  font-size: 1.2rem;
  color: var(--foregroundColor);
}