:root {
  --black: #1c1c1c;
  --white: #f8f9fb;
  --lilac: #819af5;
  --light-lilac: #b2c3ff;
  --foregroundColor: var(--black);
  --backgroundColor: var(--white);
  --foregroundColorDark: var(--white);
  --backgroundColorDark: var(--black);
  --accentColor: var(--light-lilac);
  --accentColorDark: var(--lilac);
  --navFont: "Work Sans Variable", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  color: var(--foregroundColor);
  background-color: var(--backgroundColor);
  font-family: "Work Sans Variable", sans-serif;
}

html.dark {
  --foregroundColor: var(--foregroundColorDark);
  --backgroundColor: var(--backgroundColorDark);
  --accentColor: var(--accentColorDark);
}

body {
  margin: 0;
  font-family: "Work Sans Variable", sans-serif;
  padding: 0;
  line-height: 1.5;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

main {
  width: 90vh;
  margin: 3em auto 0;
  font-size: 1.3em;
}

footer {
  padding: 2em 5em;
  border-top: 1px solid;
  margin-top: 5em;
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__links a {
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--foregroundColor);
}

.footer__links [data-icon] {
  padding-inline-end: 0.3em;
  font-size: 1.2rem;
  color: var(--foregroundColor);
}
