:root {
  --black: #1c1c1c;
  --white: #f8f9fb;
  --lilac: #819af5;
  --foregroundColor: var(--black);
  --backgroundColor: var(--white);
  --foregroundColorDark: var(--white);
  --backgroundColorDark: var(--black);
  --accentColor: (var(--lilac));
  --accentColorDark: (var(--lilac));
}

* {
  box-sizing: border-box;
}

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

html.dark {
  background-color: #1c1c1c;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 60ch;
  font-family: "Work Sans Variable", sans-serif;
  padding: 1rem;
  line-height: 1.5;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
header div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}
