@use "mixins";


@media (prefers-reduced-motion) {
  :root::view-transition-new(root) {
    animation: none;
  }
  :root {
    animation: none !important;
  }
}

:root {
  --black: #000000;
  --white: #ffffff;
  --dark-grey: #191919;
  --dusty-white: #fbfaf9;
  --lilac: #7384cb;
  --light-lilac: #cdd8fd;
  --color: var(--black);
  --bgColor: var(--dusty-white);
  --bgColorBase: var(--white);
  --colorDark: var(--white);
  --bgColorDark: var(--dark-grey);
  --accColor: var(--light-lilac);
  --accColorDark: var(--lilac);
  --navFont: "Inclusive Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.dark {
  --color: var(--colorDark);
  --bgColor: var(--bgColorDark);
  --accColor: var(--accColorDark);
  --bgColorBase: var(--black);
}

.remove-text-shadows a {
  @include mixins.reset-underline;
}

html {
  color: var(--color);
  background-color: var(--bgColor);
  min-width: 400px;
  body {
    margin: 0;
    font-family: "Inclusive Sans", sans-serif;
    padding: 0;
    line-height: 1.5;

    main {
      @include mixins.max-w;
    }

    ul {
      @include mixins.reset-list;
    }

    a {
      color: var(--color);
    }
  }
}

@keyframes highlight-link {
  0% {
    rotate: 0;
  }
  20% {
    transform: scale(1);
    rotate: -3deg;
  }
  60% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
    rotate: -2deg;
  }
  100% {
    rotate: 0deg;
  }
}

@keyframes underline-link {
  0% {
    background-size: 0% 0.2em;
  }

  100% {
    background-size: 95% 0.1em;
  }
}

::view-transition-new(root) {
  animation: wide-theme 500ms;
  clip-path: inset(0 0 0 0);
  z-index: 2;
}

::view-transition-old(root) {
  z-index: -1;
  animation: none;
}

[data-theme="dark"] {
  --from: 0 100% 0 0;
}

[data-theme="light"] {
  --from: 0 0 0 100%;
}

@media (max-width: 500px) {
  [data-theme="dark"] {
    --from: 0 0 100% 0;
  }

  [data-theme="light"] {
    --from: 100% 0 0 0;
  }
}

@keyframes wide-theme {
  from {
    clip-path: inset(var(--from));
  }
}
