---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Viviana Yanez Creative Frontend Developer">
  <main class="not-found">
    <h1>404</h1>
    <div class="not-found__content">
      <h3></h3>
      <p>This page doesn't exist.</p>
      <p>Let's get you back on a valid path:</p>
      <ul>
        <li><a href="/">Back to homepage</a></li>
        <li><a href="/projects">Explore what I've been working on</a></li>
        <li><a href="/blog/1">Read my latest blogpost</a></li>
      </ul>
    </div>
  </main>
</Layout>
<script
  is:inline
  type="text/partytown"
  data-goatcounter="https://vivitt.goatcounter.com/count"
  async
  src="//gc.zgo.at/count.js"></script>
<style lang="scss">
  @use "../styles/mixins";
  .not-found {
    h1 {
      font-size: 7em;
      margin: 0;
    }
    p {
      font-size: 2em;
      margin: 0;
    }
    ul {
      list-style: circle;

      li {
        a {
          @include mixins.reset-link;
          @include mixins.underline-link;
          background-size: 100% 0.1em;
          background-position: 0 95%;
          font-size: 1.2em;
          line-height: 2;
        }
      }
    }
  }
</style>
