---
import Layout from "../layouts/Layout.astro";
import BlogPrev from "../components/BlogPrev.astro";

const allPosts = await Astro.glob("./posts/*.md");
---

<Layout title="Vivi's Blog">
  <h1>Blog</h1>
  <ul>
    <ul>
      {
        allPosts.map((post) => (
          <BlogPrev
            url={post.url}
            title={post.frontmatter.title}
            tags={post.frontmatter.tags}
          />
        ))
      }
    </ul>
  </ul>
</Layout>

<style></style>
