---
import Layout from "../layouts/Layout.astro";
import BlogSummary from "../components/BlogSummary.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
---

<Layout title="Vivi's Blog">
  <h1>Blog</h1>
  <ul>
    {
      allPosts.map((post) => (
        <BlogSummary
          date={post.data.pubDate}
          url={post.data.image?.url}
          title={post.data.title}
          tags={post.data.tags}
        />
      ))
    }
  </ul>
</Layout>

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
</style>
