---
import Layout from "../layouts/Layout.astro";
import BlogSummary from "../components/BlogSummary.astro";
import { getCollection } from "astro:content";

const allBlogPosts = await getCollection("blog");
---

<Layout title="Vivi's Blog">
  <h1>Blog</h1>
  <ul>
    {allBlogPosts.map((post) => <BlogSummary post={post} />)}
  </ul>
</Layout>

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
</style>
