---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
const { post } = Astro.params;

const allPosts = await Astro.glob("./posts/*.md");
---

<Layout title="Vivi's Blog">
  
    <h1>Blog</h1>
    <ul>
      <ul>
        {
          allPosts.map((post) => (
            <BlogPost url={post.url} title={post.frontmatter.title} />
          ))
        }
      </ul>
    </ul>

</Layout>

<style></style>
