---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Viviana Yanez Creative Frontend Developer">
  <main>
    <h1 class="visually-hidden">Viviana Yanez Web Developer</h1>
    <div class="home">
      <p>
        I'm a frontend developer passionate about crafting beautiful,
        accessible, and inclusive web experiences.
      </p>
    </div>
  </main>
</Layout>
