---
import Layout from "../layouts/Layout.astro";

const favs = ["creative developer"];
---

<Layout title="Viviana Yanez Creative Frontend Developer">
  <main class="hero">
    <h1 class="visually-hidden">Vivi Yanez Web Developer</h1>
    <div class="hero__text">
      <p class="hero__text--paragraph">
        Hi! I'm Vivi <span aria-hidden>👋🏽</span>
      </p>
      <p class="hero__text--paragraph">
        I'm a
        <span data-splitting="words">creative developer</span>.
      </p>
      <p class="hero__text--paragraph">
        I'm passionate about building for the web, and crafting beautiful,
        accessible, and inclusive experiences.
      </p>
    </div>
    <div class="hero__cta">
      <a href="/projects">View my latest projects</a>
      <a href="/blog/1">Read my latest blogpost</a>
    </div>
    <div class="hero__text">
      <p class="hero__text--paragraph">
        I'm always happy to learn new tools and at the moment my fav tech stack
        includes: JavaScript, TypeScript, React, Vue, and Astro.
      </p>
      <p class="hero__text--paragraph">
        Find out <a href="/about">more about me</a> and feel free to connect. I’m
        always happy to share learnings and experiences, and open to collaborating
        on projects that resonate with my interests.
      </p>
    </div>
    <script>
      import Splitting from "splitting";

      document.addEventListener("astro:page-load", () => {
        Splitting();
      });
    </script>
  </main>
</Layout>

<style lang="scss">
  @use "../styles/mixins";
  .hero {
    &__text {
      padding: 2em 0;
      font-size: 2em;
      &--list {
        display: flex;
        font-size: 1em;
      }
      &--paragraph {
        .words.splitting {
          > span.word{
            background-image: linear-gradient(
            to right,
            var(--accColor) 100%,
            var(--accColor) 100%
          );
          background-repeat: no-repeat;
          background-position: 0 0;
          animation-timeline: scroll(root);
          animation-name: colorWord;
          animation-duration: auto;
          animation-fill-mode: forwards;
          animation-iteration-count: 1;
          animation-timing-function: linear;
          background-size: 0 1.2em;
          }
          
        }
      }
    }
    &__cta {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      a {
        @include mixins.tag;
        @include mixins.reset-link;
        font-size: 1.2em;
        border: 1px solid;
        &:hover {
          text-decoration: underline;
          box-shadow: 3px 3px 0px 1px;
          animation: move-link 100ms forwards;
        }
      }
    }
  }
</style>
