---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

// const allProjects = await getCollection("projects");
---

<Layout title="Projects">
  <main class="projects">
    <h1>Some projects I created</h1>
  </main>
</Layout>
