---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

const title = "Tab index";
---

<Layout title={title}>
  <p>All the tags:</p>
  <ul>
    {
      tags?.map((tag) => (
        <li>
          <a href={`./tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
</Layout>
