---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav>
  <ul class="nav__links">
    
    <li class=`${currentPath === "about/" ? "active" : ""} nav__links__link `>
      <a href="/about/">About</a>
    </li>

    <li class=`${currentPath === "projects/" ? "active" : ""} nav__links__link `>
      <a href="/projects/">Projects</a>
    </li>

    <li class=`${currentPath === "blog/" ? "active" : ""} nav__links__link `>
      <a href="/blog/">Blog</a>
    </li>
   
  </ul>
</nav>

<style>
  nav {
    display: flex;
    font-family: var(--navFont);
    text-transform: uppercase;
    width: 100%;
    justify-content: end;
  }

  .nav__links {
    display: flex;
    justify-content: end;
    flex-flow: nowrap;
    max-width: 80ch;
    
  }

  .nav__links__link {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    border-top: 1px solid ;
    border-bottom: 1px solid;
  }

  .nav__links__link a {
    padding: 0.5em 2em;
    text-decoration: none;
    color: var(--foregroundColor);
  }
  .nav__links__link.active a {
    color: var(--backgroundColor);
  }

  .nav__links__link:first-of-type {
    border-inline-start: 1px solid;
    border-radius: 2em  0 0 2em ;
  }
  .nav__links__link:last-of-type {
    border-inline-end: 1px solid;
    border-radius:   0 2em 2em 0;
  }
  
  .nav__links__link.active {
    background-color: var(--foregroundColor);
    border-radius: 2em;
    border: 1px solid;
    margin-inline-end: 2em;
    margin-inline-start: 2em;
    animation: active 500ms ease-in-out backwards;
  }
  .nav__links__link:last-of-type.active {
    margin-inline-end: 0;
    animation: active-last 500ms ease-in-out backwards;
  }
 
  /* match the prev sibiling for an active link */
  .nav__links__link:has(+ .active)  { 
    border-radius: 0 2em 2em 0;
    border-inline-end: 1px solid ;
  }

  /* match the next sibiling to an active link */
  .active + .nav__links__link {
    border-radius: 2em 0 0 2em;
    border-inline-start: 1px solid ;
  } 

    /* match the prev sibiling for an active link when it is the first or the last link */
    .nav__links__link:first-of-type:has(+ .active), 
    .active + .nav__links__link:last-of-type  { 
    border-radius: 2em;
  }



  @keyframes active {
    0% {
      margin-inline-end: 0;
      margin-inline-start: 0;
      border-radius: 0;
    }
  30% {
    border-radius: 2em;
  }
    100% {
      margin-inline-end: 2em;
      margin-inline-start: 2em; 
    }
  }

  @keyframes active-last {
    0% {
      margin-inline-start: 0;
      border-radius: 0;
    }
  30% {
    border-radius: 2em;
  }
    100% {
      margin-inline-start: 2em; 
    }
  }


  @keyframes margin-prev {
    0% {
      margin: 0;
    
    }
  
    100% {
      margin: margin: 0 0 0 1.5em;
    }
  }

  @keyframes border-end{
    0% {
      border-radius: 2em 0 0 2em;
    }
  
    100% {
      border-radius: 2em;
    }
  }

  @keyframes border-start{
    0% {
      border-radius: 0 0 2em 2em ;
    }
  
    100% {
      border-radius: 2em;
    }
  }
  @media screen and (max-width: 600px) {
  }
  

</style>
