---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav>
  <ul class="nav-links">
    <!-- {
      currentPath !== "" && (
        <li class={currentPath === "" ? "active" : ""}>
          <a href="/">Home</a>
        </li>
      )
    } -->

    
    <li class={currentPath === "about/" ? "active" : ""}>
      <a href="/about/">About</a>
    </li>

    <li class={currentPath === "projects/" ? "active" : ""}>
      <a href="/projects/">Projects</a>
    </li>
    <li class={currentPath === "blog/" ? "active" : ""}>
      <a href="/blog/">Blog</a>
    </li>
    <!-- <li>
      <a href="https://github.com/vivitt" target="_blank">GitHub</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/viviana-yanez/" target="_blank"
        >LinkedIn</a
      >
    </li> -->
  </ul>
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  li {
    border-top: 1px solid ;
    border-bottom: 1px solid;
    border-inline-end: 1px solid;
    margin: 0;
    list-style: none;
    padding: 0 0.5em;
    transition: margin 500ms ease;
  }

  a {
    padding: 0 0.5em;
    text-decoration: none;
  }
  li:first-child {
    border-radius: 2em 0 0 2em;
    border-inline-start: 1px solid ;
  }

  li:first-child.active {
    border-radius: 2em;
  }

  li:last-child {
    border-radius: 0 2em 2em 0;
    border-inline-end: 1px solid ;
  }

  li:last-child.active {
    border-radius: 2em;
  }

  .active {
    border-radius: 2em;
    border: 1px solid;
  }

  li:has(+ .active) {
    border-radius: 0 2em 2em 0;
    border-inline-end: 1px solid ;
    margin: 0 1em 0 0;
    transition: margin 500ms ease;
  }
  .active + li {
    border-radius: 2em 0 0 2em;
    border-inline-start: 1px solid ;
    margin: 0 0 0 1em;
    transition: margin 500ms ease;
 
  }

  li:first-child:has(+ .active),
  .active + li:last-child,
  li:first-child.active,
  li:last-child.active {
    border-radius: 2em;
  }

  @keyframes margin-next {
    0% {
      margin: 0;
    }
  
    100% {
      margin: margin: 0 1em 0 0;
    }
  }


  @keyframes margin-prev {
    0% {
      margin: 0;
    }
  
    100% {
      margin: margin: 0 0 0 1em;
    }
  }
  @media screen and (max-width: 600px) {
    ul {
      flex-direction: column;
      align-items: end;
      justify-content: end;
    }
  
    li,
    li:first-child,
    li:last-child,
    li:has(+ .active),
    .active + li {
      margin: 0.2em 0;
      border: 1px solid;
      border-radius: 2em;
    }
    li:last-child.active {
      margin: 1.3em 0 0 0;
    }

    .active {
      margin: 2em 0;
    }
  }
</style>
