---
import { blogPathReg, postsPathReg, projectsPathReg } from "../utils/pathRegex";
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav class="nav">
  <ul class="nav__links">
    <li
      class=`${currentPath.match(projectsPathReg) ? "active" : ""} nav__links__link`
    >
      <a class="nav__links__link__text" href="/projects">Projects</a>
    </li>

    <li
      class=`${currentPath.match(blogPathReg) || currentPath.match(postsPathReg) ? "active" : ""} nav__links__link`
    >
      <a class="nav__links__link__text" href="/blog/1">Blog</a>
    </li>
    <li class=`${currentPath === "about" ? "active" : ""} nav__links__link `>
      <a class="nav__links__link__text" href="/about">About</a>
    </li>
  </ul>
</nav>

<style lang="scss">
  @use "../styles/mixins";

  .nav {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    @include mixins.tablet {
      margin: 0 0 0 auto;
    }
    @include mixins.phone {
      margin: 0 auto;
    }
    &__links {
      display: flex;
      justify-content: end;
      flex-flow: nowrap;

      &__link {
        animation: none;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mixins.nav-link;

        &__text {
          font-size: 1.2em;
          padding-bottom: 0.2em;
          padding-inline-end: 0.4em;
          margin: 0 1em;
          @include mixins.reset-link;
          @include mixins.underline-link;
          &:hover,
          &:focus {
            animation:
              highlight-link 200ms forwards,
              underline-link 200ms forwards;
            font-weight: bold;
          }
        }

        .active &__text {
          animation: none;
          @include mixins.active-link(95%, 0.1em);

          transform: scale(1.1);
        }
      }
    }
  }
</style>
