---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav>
  <ul class="nav__links">
    
    <li class=`${currentPath === "about/" ? "active" : ""} nav__links__link `>
      <a href="/about/">About</a>
    </li>

    <li class=`${currentPath === "projects/" ? "active" : ""} nav__links__link `>
      <a href="/projects/">Projects</a>
    </li>

    <li class=`${currentPath === "blog/" ? "active" : ""} nav__links__link `>
      <a href="/blog/">Blog</a>
    </li>
   
  </ul>
</nav>

<style>
  nav {
    display: flex;
    font-family: var(--navFont);
    text-transform: uppercase;
    width: 100%;
    justify-content: end;
  }

  ul {
    display: flex;
    justify-content: end;
    flex-flow: nowrap;
    max-width: 80ch;
    
  }

  .nav__links__link {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
   
  }


  

  .nav__links__link a {
    border-radius: 0;
    border-top: 1px solid ;
    border-bottom: 1px solid;
    border-inline-end: 1px solid;
    padding: 0.5em 2em;
    text-decoration: none;
    color: var(--foregroundColor);
  }


  .nav__links__link.active a {
    color: var(--backgroundColor);
  }

  .nav__links__link.active {
    background-color: var(--foregroundColor);
  }

  .nav__links__link:nth-child(1) a {
    border-radius: 2em 0 0 2em;
    border-inline-start: 1px solid ;
  }


  .nav__links__link:nth-child(3) a {
    border-radius: 0 2em 2em 0;
    border-inline-end: 1px solid ;
  }
  
  .nav__links__link.active a, 
  .nav__links__link:nth-child(1).active a,
  .nav__links__link:nth-child(3).active a  {
    border: none;
  }

  .active {
    border-radius: 2em;
    margin-inline-end: 2em;
  }

  /* match the prev sibiling for an active link */
  .nav__links__link:has(+ .active)  { 
    margin-inline-end: 2em;
  }
 
  .nav__links__link:has(+ .active) a {
    border-radius: 0 2em 2em 0;
    border-inline-end: 1px solid ;
   
  }

  /* match the next sibiling to an active link */
  .active + .nav__links__link {
    
    animation: margin-prev 4000ms backwards;
    
  }

  .active + .nav__links__link a{
    border-radius: 2em 0 0 2em;
    border-inline-start: 1px solid ;
  }


  .nav__links__link:nth-child(1):has(+ .active) a,
  .active + .nav__links__link:nth-child(3) a {
    border-radius: 2em;
  }

  .nav__links__link:nth-child(1).active {
    animation: border-end 4000ms backwards;
  }

  @keyframes margin-next {
    0% {
      margin: 0;
    }
  
    100% {
      margin: margin: 0 1.5em 0 0;
    }
  }


  @keyframes margin-prev {
    0% {
      margin: 0;
    
    }
  
    100% {
      margin: margin: 0 0 0 1.5em;
    }
  }

  @keyframes border-end{
    0% {
      border-radius: 2em 0 0 2em;
    }
  
    100% {
      border-radius: 2em;
    }
  }

  @keyframes border-start{
    0% {
      border-radius: 0 0 2em 2em ;
    }
  
    100% {
      border-radius: 2em;
    }
  }
  @media screen and (max-width: 600px) {
  }
  

</style>
