---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav>
  <ul class="nav__links">
    <li class=`${currentPath === "about/" ? "active" : ""} nav__links__link `>
      <a data-astro-reload href="/about/">About</a>
    </li>

    <li
      class=`${currentPath === "projects/" ? "active" : ""} nav__links__link `
    >
      <a data-astro-reload href="/projects/">Projects</a>
    </li>

    <li class=`${currentPath === "blog/" ? "active" : ""} nav__links__link `>
      <a data-astro-reload href="/blog/">Blog</a>
    </li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    font-family: var(--navFont);
    text-transform: uppercase;
    width: 100%;
    justify-content: end;
  }

  .nav__links {
    display: flex;
    justify-content: end;
    flex-flow: nowrap;
    max-width: 80ch;
  }

  .nav__links__link {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-inline-start: 0;
    margin-inline-end: 0;
    background-color: var(--bgColor);
    --from-margin-end: 0;
    --from-margin-start: 0;
  }

  .nav__links__link.active {
    background-color: var(--color);
    border-radius: 2em;
    border: 1px solid;
    animation: active 500ms ease;
    --to-border: 2em;
  }

  .nav__links__link a {
    padding: 0.5em 2em;
    text-decoration: none;
    color: var(--color);
  }

  .nav__links__link.active a {
    color: var(--bgColor);
  }

  .nav__links__link:first-child:not(:has(+ .active)) {
    border-inline-start: 1px solid;
    border-radius: 2em 0 0 2em;
    margin-inline-start: 0;
    --from-border: 2em 0 0 2em;
    --to-margin-end: 2em;
    --to-margin-start: 0;
    background-color: yellow;
  }

  .nav__links__link:last-of-type {
    border-inline-end: 1px solid;
    border-radius: 0 2em 2em 0;
    --from-border: 0 2em 2em 0;
    --to-margin-end: 0;
    --to-margin-start: 2em;
    margin-inline-end: 0;
  }

  .nav__links__link:not(:first-of-type):not(:last-of-type) {
    --to-margin-end: 2em;
    --to-margin-start: 2em;
    --from-border: 0;
  }
  .nav__links__link:not(.active) {
  }

  .nav__links__link:first-of-type.active {
    border-radius: 2em;
    margin-inline-end: 2em;
    animation:
      border 500ms ease-in-out,
      margins 500ms ease-in-out;
  }

  .nav__links__link:last-of-type.active {
    border-radius: 2em;
    margin-inline-start: 2em;
    animation:
      border 500ms,
      margins 500ms;
  }

  .nav__links__link:not(:first-of-type):not(:last-of-type).active {
    border-radius: 2em;
    --to-border: 2em;
    margin-inline-start: 2em;
    margin-inline-end: 2em;
    animation:
      border 500ms,
      margins 500ms;
  }

  .nav__links__link:first-child:has(+ .active) {
    border-radius: 2em;
    border-inline-end: 1px solid;
    --from-margin-end: 2em;
    --to-margin-end: 2em;
    --from-border: 2em;
    --to-border: 2em;
    background-color: aqua;
    animation: none;
  }

  .active + .nav__links__link:last-of-type {
    border-radius: 2em;
    border-inline-end: 1px solid;
    --from-margin-end: 0;
    --from-margin-start: 2em;
    --from-border: 0 2em 2em 0;
    --to-border: 2em;
    background-color: red;
    animation: none;
  }

  .nav__links__link:not(:first-of-type):has(+ .active) {
    border-inline-end: 1px solid;
    --from-border: 0;
    --to-border: 0 2em 2em 0;
    --to-margin-end: 2em;
    --to-margin-start: 2em;
    --from-margin-start: 0;
    --from-margin-end: 2em;
    border-radius: 0 2em 2em 0;
    background-color: green;
  }

  .nav__links__link:has(+ .active) {
    border-radius: 2em 0 0 2em;
    border-inline-start: 1px solid;
    --from-margin-start: 0;
    --to-border: 2em 0 0 2em;
  }
  .active + .nav__links__link {
    border-radius: 2em 0 0 2em;
    border-inline-start: 1px solid;
    --from-margin-end: 0;
    --to-border: 2em 0 0 2em;
    background-color: blueviolet;
  }

  /* match the prev sibiling for an active link when it is the first or the last link */
  .nav__links__link:first-of-type:has(+ .active),
  .active + .nav__links__link:last-of-type {
  }

  @keyframes margins {
    0% {
      margin-inline-end: var(--from-margin-end);
      margin-inline-start: var(--from-margin-start);
    }
    100% {
      margin-inline-end: var(--to-margin-end);
      margin-inline-start: var(--to-margin-start);
    }
  }
  @keyframes border {
    0% {
      border-radius: var(--from-border);
    }
    100% {
      border-radius: var(--to-border);
    }
  }

  @media screen and (max-width: 600px) {
  }
</style>
