---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav>
  <ul class="nav-links">
    {
      currentPath !== "" && (
        <li class={currentPath === "" ? "active" : ""}>
          <a href="/">Home</a>
        </li>
      )
    }

    
    <li class={currentPath === "about/" ? "active" : ""}>
      <a href="/about/">About</a>
    </li>

    <li class={currentPath === "projects/" ? "active" : ""}>
      <a href="/projects/">Projects</a>
    </li>
    <li class={currentPath === "blog/" ? "active" : ""}>
      <a href="/blog/">Blog</a>
    </li>
   
  </ul>
</nav>

<style>
  nav {
    display: flex;
    text-transform: uppercase;
    justify-content: end;
    align-items: center;
    max-width: 50%;
    width: 50%;
  }
  ul {
    display: flex;
   justify-content: end;
    flex-flow: nowrap;
    max-width: 80ch;
    
  }

  li {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }

  li.active{
    min-width: 40%;
  }

  a {
    border-top: 1px solid ;
    border-bottom: 1px solid;
    border-inline-end: 1px solid;
    padding: 0 1em;
    text-decoration: none;
  }

  li:first-child a {
    border-radius: 2em 0 0 2em;
    border-inline-start: 1px solid ;
  }


  li:last-child a {
    border-radius: 0 2em 2em 0;
    border-inline-end: 1px solid ;
  }
  
  li.active a, 
  li:first-child.active a,
  li:last-child.active a  {
    border: none;
  }


  .active {
    border-radius: 2em;
    border: 1px solid;
  }


  li:has(+ .active)  {
    margin: 0 3em 0 0;
  }
  li:has(+ .active) a {
    border-radius: 0 2em 2em 0;
    border-inline-end: 1px solid ;
   
  }
  .active + li {
   
    margin: 0 0 0 3em;
 
  }
  .active + li a{
    border-radius: 2em 0 0 2em;
    border-inline-start: 1px solid ;
 
  }


  li:first-child:has(+ .active) a,
  .active + li:last-child a{
    border-radius: 2em;
  }

  @keyframes margin-next {
    0% {
      margin: 0;
    }
  
    100% {
      margin: margin: 0 1em 0 0;
    }
  }


  @keyframes margin-prev {
    0% {
      margin: 0;
    }
  
    100% {
      margin: margin: 0 0 0 1em;
    }
  }

  @keyframes width{
    0% {
      width: auto;
    }
  
    100% {
      width: 70%
    }
  }
  @media screen and (max-width: 600px) {
  }
  

</style>
