---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav>
  <ul class="nav__links">
    
    <li class=`${currentPath === "about/" ? "active" : ""} nav__links__link nav__links__link--about`>
      <a href="/about/">About</a>
    </li>

    <li class=`${currentPath === "projects/" ? "active" : ""} nav__links__link nav__links__link--projects`>
      <a href="/projects/">Projects</a>
    </li>

    <li class=`${currentPath === "blog/" ? "active" : ""} nav__links__link nav__links__link--blog`>
      <a href="/blog/">Blog</a>
    </li>
   
  </ul>
</nav>

<style>
  nav {
    display: flex;
    text-transform: uppercase;
    width: 100%;
    justify-content: end;
  }

  ul {
    display: flex;
   justify-content: end;
    flex-flow: nowrap;
    max-width: 80ch;
    
  }

  .nav__links__link {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }


  .active {
    border-radius: 2em;
    border: 1px solid;
  }

  .nav__links__link a {
    border-top: 1px solid ;
    border-bottom: 1px solid;
    border-inline-end: 1px solid;
    padding: 0 1em;
    text-decoration: none;
    color: var(--foregroundColor);
  }


  .nav__links__link.active a {
  color: var(--backgroundColor);
  }

  .nav__links__link.active {
    min-width: 40%;
  background-color: var(--foregroundColor);
  }

  .nav__links__link--about a {
    border-radius: 2em 0 0 2em;
    border-inline-start: 1px solid ;
  }


  .nav__links__link--blog a {
    border-radius: 0 2em 2em 0;
    border-inline-end: 1px solid ;
  }
  
  .nav__links__link.active a, 
  .nav__links__link--about.active a,
  .nav__links__link--blog.active a  {
    border: none;
  }

  
  .nav__links__link:has(+ .active)  {
    margin: 0 3em 0 0;
    animation: margin-next 500ms backwards;
  }

  .nav__links__link:has(+ .active) a {
    border-radius: 0 2em 2em 0;
    border-inline-end: 1px solid ;
   
  }
  .active + .nav__links__link {
   
    margin: 0 0 0 3em;
    animation: margin-prev 500ms alternate backwards;
 
  }
  .active + .nav__links__link a{
    border-radius: 2em 0 0 2em;
    border-inline-start: 1px solid ;
 
  }


  .nav__links__link--about:has(+ .active) a,
  .active + .nav__links__link--blog a{
    border-radius: 2em;
  }

  @keyframes margin-next {
    0% {
      margin: 0;
    }
  
    100% {
      margin: margin: 0 3em 0 0;
    }
  }


  @keyframes margin-prev {
    0% {
      margin: 0;
    }
  
    100% {
      margin: margin: 0 0 0 3em;
    }
  }

  @keyframes width{
    0% {
      width: auto;
    }
  
    100% {
      width: 70%
    }
  }
  @media screen and (max-width: 600px) {
  }
  

</style>
