---
const { page } = Astro.props as {
  page: {
    data: Array<{ data: { pubDate: string } }>;
    start: number;
    end: number;
    size: number;
    lastPage: number;
    currentPage: number;
    url: {
      current: string;
      next: string | undefined;
      prev: string | undefined;
    };
  };
};

const pageNumbers = Array.from({ length: page.lastPage }).map(
  (_: undefined, index: number) => index
);
---

<nav aria-label="pagination" class="blog__pagination">
  <div class="blog__pagination__controls">
    <a
      aria-disabled={page.currentPage === 1}
      href={page.url.prev}
      class=`blog__pagination__controls__arrow ${page.currentPage === 1 ?'disabled' :''}`
    >
      &#60;
    </a>

    <ul>
      {
        pageNumbers.map((el) => (
          <li class={`blog__pagination__controls__listItem `}>
            <a
              class={`blog__pagination__controls__listItem--number ${page.currentPage === el + 1 ? "blog__pagination__controls__listItem--current disabled" : ""}`}
              href={`/blog/${el + 1}`}
              aria-current="true"
            >
              {el + 1}
            </a>
          </li>
        ))
      }
    </ul>
    <a
      aria-disabled={page.currentPage === page.lastPage}
      href={page.url.next}
      class=`blog__pagination__controls__arrow ${page.currentPage === page.lastPage ?'disabled' :''}`
    >
      &#62;
    </a>
  </div>
</nav>

<style lang="scss">
  @use "../styles/mixins";

  .blog__pagination {
    &__controls {
      display: flex;
      justify-content: center;
      align-items: center;

      &__arrow {
        font-size: 1.5em;
        @include mixins.reset-link;
        padding: 1em;
        &:hover,
        &:focus {
          animation: highlight-link 200ms forwards;
        }
      }
      ul {
        @include mixins.reset-list;
        display: flex;
        justify-content: center;
        align-items: center;
        .blog__pagination__controls__listItem {
          padding: 1em;
          &--number {
            font-size: 1em;
            @include mixins.reset_link;
            @include mixins.reset_link;
            @include mixins.underline-link;
            background-size: 0 0.1em;
            background-position: 0 100%;
          }
          &--current {
            background-size: 100% 0.1em;
          }

          &:hover .blog__pagination__controls__listItem--number,
          &:focus .blog__pagination__controls__listItem--number {
            animation:
              highlight-link 200ms forwards,
              underline-link 200ms forwards;
          }

          &:hover,
          &:focus {
            animation: highlight-link 200ms forwards;
          }
        }
      }
    }
    .disabled {
      cursor: normal;
      &:hover {
        animation: none;
      }
    }
  }
</style>
