---
import { Icon } from 'astro-icon/components'

const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`} target="_blank">
  <Icon name={platform} /></a>
<style>
  a {
    padding: 0.7rem;
  }
[data-icon] {
    
    font-size: 1.7rem;
    color: var(--foregroundColor);
}
</style>
