---
const { tag } = Astro.props;
---

<span class="tag">
  <a href={`/tags/${tag}/`} aria-hidden># {tag} </a>
</span>

<style>
  .tag {
    font-family: var(--navFont);
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 2em;
    padding: 0.2em 1em;
    margin-inline-end: 0.3em;
    background-color: var(--accColor);
    display: inline-flex;
    cursor: pointer;
  }
  .tag a {
    font-size: 0.6em;
    color: var(--foregroundColor);
    text-decoration: none;
  }
  span.tag:hover {
    border: 1px solid ;
  
  }
</style>
