---
const { tag } = Astro.props;
---

<span class="tag">#&nbsp;<a href={`/tags/${tag}/`} aria-hidden>{tag}</a>
</span>

<style lang="scss">
  @use '../styles/mixins';
  .tag {
    @include mixins.tag;
    font-size: 0.6em;
    a {
      @include mixins.reset-link;
    }
   
    &:hover {
      border: 1px solid ;
    }
  }
  
</style>
