---
const { tag } = Astro.props;
---

<a href={`/tags/${tag}/`} class="tag"><span aria-hidden>#&nbsp;</span>{tag}</a>

<style lang="scss">
  @use "../styles/mixins";
  .tag {
    @include mixins.tag;
    font-size: 0.6em;
    @include mixins.reset-link;

    &:hover {
      border: 1px solid;
    }
  }
</style>
