---

---

<button
  role="switch"
  class="switch__background"
  id="background"
  aria-label="dark mode"
>
  <span id="control" class="switch__control" role="img" id="control"> </span>
</button>

<script is:inline>
  const theme = (() => {
    const localStorageTheme = localStorage?.getItem("theme") ?? "";
    if (["dark", "light"].includes(localStorageTheme)) {
      return localStorageTheme;
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
    document
      .getElementById("background")
      ?.setAttribute("aria-checked", "false");
  } else {
    document.documentElement.classList.add("dark");
    document.getElementById("background")?.setAttribute("aria-checked", "true");
  }

  window.localStorage.setItem("theme", theme);

  const handleToggleClick = () => {
    const element = document.documentElement;
    element.classList.toggle("dark");
    const isDark = element.classList.contains("dark");
    localStorage.setItem("theme", isDark ? "dark" : "light");
    document.getElementById("background")?.setAttribute("aria-checked", isDark);
    element.dataset.theme = isDark ? "dark" : "light";
  };

  async function handleTransition() {
    document.documentElement.classList.add("remove-text-shadows");
    const transition = document.startViewTransition(() => handleToggleClick());
    try {
      await transition.finished;
    } finally {
      document.documentElement.classList.remove("remove-text-shadows");
    }
  }

  const toggle_theme = () => {
    if (!document.startViewTransition) handleToggleClick();
    else handleTransition();
  };

  document.addEventListener("astro:page-load", () => {
    document
      .getElementById("background")
      ?.addEventListener("click", toggle_theme);
  });

  document.addEventListener("astro:after-swap", () => {
    const element = document.documentElement;
    const isDark = localStorage?.getItem("theme") === "dark";
    if (isDark) {
      document.documentElement.classList.add("dark");
      document
        .getElementById("background")
        ?.setAttribute("aria-checked", isDark);
    }
    element.dataset.theme = isDark ? "dark" : "light";
  });
</script>

<style>
  * {
    --container-width: 45px;
  }

  .switch__background {
    display: block;
    border: 1px solid var(--color);
    background-color: var(--bgColorBase);
    width: var(--container-width);
    height: calc(var(--container-width) / 3);
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    margin: 0 1em;
  }

  .switch__control {
    position: absolute;
    border: none;
    --size: calc(var(--container-width) / 2);
    font-size: 30px;
    top: -12px;
    left: -9px;
    transition: left 300ms;
  }
  .switch__control:after {
    content: "🌞";
  }

  [aria-checked="true"] .switch__control {
    top: -12px;
    left: var(--size);
  }

  [aria-checked="true"] .switch__control:after {
    content: "🌚";
  }

  [aria-checked="true"] {
  }
  .switch__background:focus {
    outline-offset: 8px;
  }

  @media (max-width: 500px) {
    :host {
      flex-direction: column;
    }
    .switch__background {
      height: var(--container-width);
      width: calc(var(--container-width) / 3);
    }
    .switch__control {
      left: -9px;
      transition: top 300ms;
    }
    [aria-checked="true"] .switch__control {
      left: -9px;
      top: var(--size);
    }
  }
</style>
