---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import ProjectCard from "../../components/ProjectCard.astro";

const projects = await getCollection("projects");
projects.sort((a, b) => b.data.id - a.data.id);
---

<Layout title="My projects">
  <main>
    <h1 class="visually-hidden">My Projects</h1>

    <ul>
      {projects.map((project) => <ProjectCard content={project} />)}
    </ul>
  </main>
</Layout>

<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 2em 0 0 0;
  }
</style>
