---
import Layout from "../layouts/Layout.astro";
import Tag from "../components/Tag.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<Layout title="">
  <article class="">
    <header>
      <img />
      <h1>{post?.data?.title}</h1>
      <span>{post?.data?.pubDate}</span>
    </header>

    <slot />
  </article>
</Layout>
