---
const { frontmatter } = Astro.props;

import { formatPostDate } from "../utils/date";

const date = formatPostDate(frontmatter.date).date;
import Layout from "../layouts/Layout.astro";
const pageTitle = "Blog";
---

<Layout title={frontmatter.title}>
  <article class="">
    <header>
      <img />

      <span>{date}</span>

      <p>Written by {frontmatter.author}</p>
    </header>

    <slot />
  </article>
</Layout>
