---
const { frontmatter } = Astro.props;

import { formatPostDate } from "../utils/date";

const date = formatPostDate(frontmatter.date).date;
import Layout from "../layouts/Layout.astro";
import Tag from "../components/Tag.astro";
---

<Layout title={frontmatter.title}>
  <article class="">
    <header>
      <img />
      <h1>{frontmatter.title}</h1>
      <span>{date}</span>
    </header>

    <slot />
  </article>
  <div class="tags">
    {frontmatter?.tags.map((tag: string) => <Tag tag={tag} />)}
  </div>
</Layout>
